.navLink {

  font-family: 'Play', sans-serif;
  font-weight: bold;
  padding: 20px;
  font-size: 1.8em;
  text-decoration: none;
  color: #9715a8;
  padding-top:50px;
  padding-bottom:50px;
}

.navLink:hover {
 
  background-image: url("../../images/navbar-hover-button.png");
  }
  
  .navLink.active {

    /* color: rgb(234, 166, 18); */

    color: rgb(57, 172, 253);
    text-decoration: underline;
    /* background-image: url("../../images/navbar-hover-button.png"); */
    
  }



.NavLinksContainer {
  margin-top: 200px;
  margin-bottom: 20px;
}


.starNavLinkImage {
  width: 200px;
}