.DownloadButton img {
    width: 60px;
    height:60px;
    float:left;

}

.DownloadViewDetailsCounter {
    text-align: left;  
    color: rgb(57, 172, 253);;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-top:15px;
}

