.footer {
    margin: 10px auto 0 auto;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width:100%;
    height:70px;   /* Height of the footer */
    background:#070243;;
    color:beige;

}