.CreateComment {
    padding: 10px;
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
  }
  
  .CreateComment textarea {
    width: 80%;
    min-height: 100px;
    margin-bottom: 20px;
    padding: 15px 15px;
    border-radius: 10px;
  }

  .CreateCommentButton {
    font-size: 0.9em;
    padding: 8px 15px;
    margin-bottom: 150px;
  }