.Comment {
 display: flex;
 font-family: 'Play', sans-serif;
 color: rgb(190, 12, 214);
}

.Comment p {
     color: rgb(190, 12, 214);
}

.CommentText {
    border: solid 1px  rgb(57, 172, 253);
    padding: 15px 15px 5px 15px;
    margin: 10px 0px;
    border-radius: 10px;


}

.CommentProfilePicture {
    width: 200px;
    height: 200px;
    margin: 30px 30px 30px 30px;
    border-radius: 10px;
}

.CommentRight {
    margin: 30px 30px 0 10px;
    width: 100%;
    text-align: left;
}

#DeleteCommentButton {
    margin: 0px 0 20px 0;
    float: right;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    font-size:0.8em;
}
span {
    color: rgb(190, 12, 214);
}

.CreatedOn {
    font-size:0.8em;
    color: rgb(190, 12, 214);
}

.CommentText p {
    color: rgb(57, 172, 253);
}