.tag-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    min-height: 30px;
    border: 1px solid rgb(159, 8, 179);
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;

}
.tag {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(57, 172, 253);
    height: 25px;
    border-radius: 5px;
    margin: 2px 5px 2px 0px ;
    color: rgb(190, 12, 214);
}
.tag-container input {
    border: none;
    flex: 1;
    outline: none;
    padding: 5px;
 color: rgb(57, 172, 253);
}
.tag span {
    margin-left: 5px;
    cursor: pointer;
    color: rgb(190, 12, 214);
}