.ProfilePicture {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    border-radius: 50%;
}

.DetailsProfileInfo {
    margin: 250px auto 100px auto;
    width: 100%;
    display: flex;
}


.RightProfilePicturePart {
    margin-left: 120px;
}



.DetailsProfileInfo {
    width: 45%;
}



.DetailsProfileInfo p {
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin-left: 0px;
    margin-top: 30px;
    color:rgb(39, 9, 208)
}

.DetailsProfileInfo span {
    color:rgb(131, 7, 136);
    font-weight: bold;
}

.LeftProfilePicturePart {
    width:40%
}




.ProfileEditButton2 {
    font-family: 'Play', sans-serif;
    font-size: 1em;
    background-color: #5266c8;
    height: 70px;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
 
  }
  
  .ProfileEditButton2 {
    cursor: pointer;
  }
  
  .ProfileEditButton2 {

    margin:40px 0 200px 0px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(231, 140, 253);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .ProfileEditButton2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .ProfileEditButton2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./../../images/button-background.jpg");
    left: 0;
    top: 0;
    border-radius: 10px;
  }