table, thead, tbody {
    /* border: 1px solid; */
    height: 30px;
    width: 100%;

    text-align: center;
  }

  thead, tbody { display: block; }

tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
    color: rgb(190, 12, 214);
}
.table {
    position: center;
    width: 20%;
    color: rgb(190, 12, 214);

}
.download {

    padding-left: 120px;
    color: rgb(190, 12, 214);
}
.download1 {
    padding-left: 110px;
    /* color:rgb(159, 8, 179); */
    color: rgb(190, 12, 214);
}

.version {
    padding-left: 0px;
    /* color:rgb(159, 8, 179); */
    color: rgb(190, 12, 214);

}

.NoOldVersions {
    width: 200px;
    margin-top: 50px;
    text-align: left;
    margin-left: 85px;
    color: rgb(190, 12, 214);
}



