.About {
    font-family: 'Teko', sans-serif;
    margin: 0 auto 0 auto;
    width:80%;
    margin-top: 200px;
    color: rgb(190, 12, 214);
}

#AboutH1 {
    font-family: 'Teko', sans-serif;
    margin-bottom: 20px;
    color:rgb(133, 21, 185);
}

#ProjectName {
    color:rgb(61, 148, 248);
    margin-bottom: 20px;
}

.singleAuthor {
    padding-bottom: 150px;
    
    
}

.About > p {
    font-size: 1.8em;
}

.authorName {
    font-size: 2em;
    margin-top:20px;
    color:rgb(133, 21, 185);
}

.AboutInfoSpan {
    color:rgb(133, 21, 185);
}

.singleAuthor {
    font-size: 1.5em;
    margin-top:20px;
    margin-left:50px;
}

.authorImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin:30px;
}



/* ----------------------- */




.authors {
    display: flex;
    margin: 0 auto 0 auto;
    width:55%;
}

.AboutProjectInfo {
    width:60%;
    margin: 10px auto 0px auto;
    padding-bottom: 150px;
    font-size: 1.4em;
    text-align: left;
}


#AboutInfoSpan {
    color: rgb(190, 12, 214);
}

.AboutProjectInfo span {
    color:rgb(61, 148, 248);
}
