.ViewDetails{
    width: 80%;
    margin: 200px auto 0 auto;
}


.ViewDetailsTopContainer {
    display: flex;
}

.ViewDetailsImage {
    width: 34%;
}

.ViewDetailsImg {
    width: 250px;
    height: auto;
    margin: 50px;
}


.RatingComponent {
    width: 35%;
    padding-left: 0px;
    padding-top:30px;
}

.RatingComponent p {
  
    padding-left: 8px;
    color: rgb(190, 12, 214);

}

.RatingComponent img {
    padding: 10px;
}

.LikeHolder {
    display:flex;
    padding-bottom: 5px;
}

.LikeHolder p {
    padding-top: 25px;
    font-family: 'Play', sans-serif;
    font-size: 1.4em;
}

.LikeHolder img {
    width:80px;
    height:auto;
}

.HoverButton :hover {
    width:80px;
    height: 80px;
    background-image: url(../../images/hover.png);
}



.LoveHolder img {
    width:80px;
    text-align: left;
}

.StarHolder img {
    width:80px;
    text-align: left;
}

.StarHolder p {
    padding-top: 25px;
    font-family: 'Play', sans-serif;
    font-size: 1.2em;
    display: inline;
}

.LoveHolder p {
    padding-top: 25px;
    font-family: 'Play', sans-serif;
    font-size: 1.2em;
    display: inline;

}

.StarHolder {
      text-align: left;
}

.LoveHolder {
    display: flex;
    width: 100%;
    text-align: left;
}

.MyRatingComponent {
    display: none;
}

.EditButton {
    margin-top: 30px;
    margin-left: -65px;
}
.DeleteButton {
    margin-top: 30px;
    margin-left: 30px;
}

.DetailsInfo {
    width: 40%;
}



.DetailsInfo p {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
    margin-left: 70px;
    margin-top: 30px;
    color:rgb(57, 172, 253);
}

.DetailsInfo span {
    color:rgb(190, 12, 214);
    font-family: 'Play', sans-serif;
    font-weight: 400;

}

.AddonTextContainer {
    display:flex;
    width: 100%;
    text-align: left;
}


.Done {
    color: rgb(70, 4, 51);
    font-family: 'Play', sans-serif;
    margin-top:-130px;
}

.EmptyComment {
    color: rgb(255, 0, 0);
    font-family: 'Play', sans-serif;
    margin-top:-150px;
}

.Description {
    color: rgb(190, 12, 214);
    font-size: 1.2em;
    margin-left: 50px;
    width: 100%;
    margin-top: 30px;
}

.DescriptionName {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
    color:rgb(57, 172, 253);
}

.DescriptionText {
    color:rgb(190, 12, 214);
    font-family: 'Play', sans-serif;
    font-weight: 400;
}

.Download {
    display:flex;
    color:rgb(190, 12, 214);
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size:1.2em;
    margin-left: 70px;
}

.StarHolder{
    display: flex;
    width: 100%;
}

.DownloadViewDetails {
    margin-left: 105px;
    height: 60px;

}


.DownloadViewDetails p {
    padding-left: 75px; 
}

.DownloadViewDetails :hover img {
    width:65px;
    height: 65px;
   
}

.DownloadViewDetails a {
    text-decoration: none;
}

.DownloadButton {
    width: 100%;
    display: inline-block;
}

.TagsContainer {
    display: flex;
}

.TagsContainer p {
   margin-top: auto;
}

.OldVersionsContainer {
    width: 100%;
    margin-left: 100px;


}

.OldVersionsContainer table {
    width: 400px;
    margin-top: 50px;
    padding-top: 30px;
}

.ButtonsContainer {
    display:inline-flex;
    margin-top: 70px;
    margin-left: -30px;
}

.ViewDetailsUpdateButton {
    height: 50px;
    margin-right: 30px;
}

.ViewDetailsDeleteButton {
    height: 50px;
    margin-right: 30px;
}