.Header a {
    padding-right: 70px;
    font-family: 'Teko', sans-serif;
    font-size: 2.3em;
    text-decoration: none;
    color: #ffffff;

}


  
.Header a:hover {
    color:rgb(254, 255, 175);
  }
  
  .Header a.active {
    color: rgb(2, 225, 255);
    text-decoration: underline;

    
  }

.Header {
    width: 100%;

   
}

.Header img {
    width: 100%;
    margin-top: 140px;
    margin-bottom: 200px;
}




.disabled-link {
    pointer-events: none;
    color: grey;
  }

 #LogoutBtn {
    margin-bottom: 15px;
    font-size: 1.2em;

  }

  nav {
    background-image: url("../../images/navbar-background.jpg");

    margin: 0px 0 30px 0;
    padding-bottom: 30px;
    padding-top: 30px;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 99;
   
  }

  #ColorMode {
   display:inline-block;
   float: left;
   margin-top:20px;
   margin-left:20px;
  }

  #ColorMode span {
color:blueviolet;
font-family: 'Teko', sans-serif;
font-size: 1.5em;
   }
