.MyAddons {
    margin-top: 150px;
    max-width: 100%;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 210px;
    padding-top: 40px;
    margin-bottom: 100px;
    margin-left:50px;
    max-width: 100%;
    display: inline-flex;
    align-items: flex-start;
    /* justify-content:first baseline; */
    align-content:flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgb(57, 172, 253);
    
}

.MyAddons > div {
    margin: 30px; /* HERE WE ADD THE SPACE */
}

.AddonInfoColumnLeft {
    text-align: left;
}


.SingleViewAddon {
    display: inline-block;
    text-align: left;
    width:100%;

   

}


.SingleViewAddon img {
    width: 150px;
    height: 150px;

}

.AddonInfoUp {
    padding-bottom: 10px;
    padding-left: 45px;

    width:100%;

}



.SingleViewAddonContainer {
    width: 300px;
    height: 400px;
    margin-left:50px;
    /* border: 1px solid rgb(221, 0, 255); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
}

.SingleViewAddonContainerDark {
    width: 300px;
    height: 400px;
    margin-left:50px;
    /* border: 1px solid rgb(221, 0, 255); */
    box-shadow: 2px 4px 10px 2px rgba(209, 253, 255, 0.2), 10px 10px 20px 0px rgba(244, 27, 255, 0.19);
}


.SingleViewAddonContainer h6 {

    text-align: left;
    padding-left: 50px;
    padding-top: 40px;
    color:rgb(190, 12, 214);
    font-family: 'Play', sans-serif;
    font-weight: 700;
    min-height: 80px;
}

.SingleViewAddonContainerDark h6 {

    text-align: left;
    padding-left: 50px;
    padding-top: 40px;
    color:rgb(190, 12, 214);
    font-family: 'Play', sans-serif;
    font-weight: 700;
    min-height: 80px;
}

.SingleViewAddonContainer a {
    text-decoration: none;
}

.SingleViewAddonContainerDark a {
    text-decoration: none;
}

.DownloadContainer {
    
width: 100%;


}

.DownloadContainer img {
    width: 35px;
    height: 35px;
    z-index: 2;
    margin-right: 10px;
    margin-top: 10px;

}

.DownloadContainer p {
    font-size: 0.6em;
 
}


.UpperPartGoToViewDetails {
    width: 100%;
    display:inline-block;
 

}

.DownPartGoToDownloads {
    width: 100%; 
    padding-left: 45px;
    padding-bottom: 100px;


}

.IDE {
    font-size: 0.7em;
}


.DownPartGoToDownloads :hover img {
    width:40px;
    height: 40px;
   
}

