
.all-users {
   
    max-width: 100%;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
    padding-bottom: 250px;
    color: rgb(57, 172, 253);
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 50px 50px 50px 50px;
 
}

.ViewDetailsToUsersLink {
    text-align: center;
    margin-bottom: 300px;
    margin-top: 300px;
    padding-bottom: 300px;
    padding-top: 300px; 
}

.all-users-img {
    width: 300px;
    height: 300px;
    margin: 20px 20px 20px 20px;
    border-radius: 50%;
}
.all-users-title {
    width: 300px;
    text-align: center;
}

.SearchedUserContainer {
    margin-top: 200px;
    padding-bottom: 300px;
    text-align: center;
}