.Login {
    font-family: 'Play', sans-serif;
    margin: 250px auto 50px auto;
    padding: 40px 60px;
    font-size: 1.5em;
}

input {
  font-family: 'Play', sans-serif;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 5px;
}

.Login .Form {
  margin: 0 auto;
  display: block;
}

.Login .Form label {
  width: 120px;
  display: inline-block;
  text-align: right;
  color: rgb(190, 12, 214);
}

.Login .Form input {
  width: 350px;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 10px;
}

.Login .Form button {
  margin: 0 auto 200px auto;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 20px;
}

.Login .Form button:hover {
  cursor: pointer;
}


#LoginButtonWithBottomMargin {
  margin-bottom: 150px;
  font-family: 'Teko', sans-serif;
  font-size: 1.2em;
  padding: 0px 30px;
  margin-left: 930px;
}

#passwordLogin {
  margin-left: 63px;
}

#LoginEmail {
  margin-left: 63px;
}