.Search {
    font-family: 'Play', sans-serif;
    font-size: 1.2em;
    padding-bottom: 10px;
}

.Search label {
    color: rgb(190, 12, 214);

}

#search {
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
label {
    padding-right: 7px;
}

input {
    padding-right: 7px;
}

.SearchImage {
    width: 57px;
    height:auto;
    margin-left: 15px;
    margin-top: -10px;
}