.Home {
    margin-bottom: 200px;
    text-align: center;
    width: 100%;
    z-index: 1;

    
}
.Title {
    text-align: center;
    /* background-image: url("../../images/navbar-background.jpg"); */
    color: rgb(190, 12, 214);
    height: 65px;
    padding-top:45px;
    opacity: 0.9;
 
}


#homeAddons {
    padding-bottom: 100px;
    max-width: 100%;
}

.HeaderImage img {
    width: 100%;
    margin-top: 140px;
    margin-bottom: 200px;
}
.HeaderImage p {
    text-align: center;
color:white;
  position: absolute;
  top:42%;
  left:38%;
  transform:translate(-50%,-50%);
  cursor:default;
  
  font-family: 'Teko', sans-serif;
}

.MyHomeAddons {

    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 40px;
    margin-left:50px;

    max-width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content:first baseline;
    align-content:flex-start;
    flex-wrap: wrap;
    flex-direction: row;


}

.MyHomeAddons> div {
    margin: 30px; /* HERE WE ADD THE SPACE */
  }




