.UploadBox {
    display:  block;
    margin: auto;
    width: 80%;
    padding: 10px;
    color: rgb(57, 172, 253);
    font-family: 'Play', sans-serif;
    color: rgb(190, 12, 214);

    
}
.UploadImage {
    height: 150px;
    width: 150px;
    padding-top: 30px;
}
.FileBox {
    margin-right: 350px;

}
.InsertBar {
    padding-top: 150px;
    width: 400px;
    
}
.InsertBar #name  {
    width: 400px;
}
.InsertBar #IDE  {
    width: 400px;
}
.InsertBar #description  {
    width: 800px;
}
.InsertBar #gitLink  {
    width: 400px;
}
.InsertBar #tags  {
    width: 400px;
}
.InsertBar #maintainers  {
    width: 400px;
}
.InsertBar #version {
    width: 400px;
    margin-bottom: 15px;
}

.UploadPictureAddon {
    margin-bottom: 100px;
}


.DescriptionInput {
    color: rgb(190, 12, 214);
}

.UploadBox p {
    font-size: 1.5em;
}

.DescriptionInput textarea {
    width:1800px;
    height: 400px;
    

}

.UploadUpperPart1 {
    width: 100%;
    display:flex
  }


  .FileBox {
      margin-left: 550px;
      margin-top: 120px;
  }