.CommentsContainer {
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
    width: 85%;
    margin: 50px auto 50px auto;
}

.CommentsContainer h2 {
    color: rgb(190, 12, 214);
}


.SingleComment2 {
    margin: 20px 0 20px 0;
    border: 1px solid  rgb(190, 12, 214);
    border-radius: 10px;
}

.NoCommentsToShow {
    margin-bottom: 150px;
}


