
.all-users {
   
    max-width: 100%;
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
    padding-bottom: 250px;
    text-align: center;
    display: inline-block;
    width: 300px;
 
    margin: 50px 50px 150px 50px;
 
}

.ViewDetailsToUsersLink {
    text-align: center;
    margin-bottom: 300px;
    margin-top: 300px;
    padding-bottom: 300px;
    padding-top: 300px; 
    text-align: center;
}

.all-users-img {
    width: 300px;
    margin-bottom: 100px;
    margin: 20px 20px 20px 20px;
    border-radius: 50%;
}
.all-users-title {
    width: 300px;
    text-align: center;
}

.AdminUsersContainer {
    padding-bottom: 300px;
    padding-top: 150px;
    text-align: center;
}
.all-users-title #easter-egg {
    height: 30px;
}

.AdminUsersSearch label {
    color: rgb(190, 12, 214);
    font-size: 1.2em;
    text-align: center;
}

.AdminUsersContainer img {

}

