.Register {
    font-family: 'Play', sans-serif;
    font-size: 1.5em;
    margin-top: 200px;
    color: rgb(190, 12, 214);
}


.wrongInput {
    color: red;
    font-size: 1.5;
}

.ButtonWithBottomMargin {
    margin-bottom: 150px;
    font-family: 'Teko', sans-serif;
    font-size: 1.2em;
    padding: 5px 50px;
    margin-left: 120px;
}

#firstName {
    margin-left: 20px;
}

#lastName {
    margin-left: 24px;
}

#email {
    margin-left: 75px;
}

#handle {
    margin-left: 27px;
}

#password {
    margin-left: 30px;
}

#phone {
    margin-left: 70px;
}