#headerImage {
    width:100%;  
    height: 1000px;      
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
   }

#greeting{
  
  padding: 0px;
  position: relative;

}

#greeting-h1{
text-align: center;
color:white;
  position: absolute;
  top:56%;
  left:50%;
  transform:translate(-50%,-50%);
  
  font-family: 'Teko', sans-serif;
}