.UploadBox1 {
    margin-top: 150px;
    display:  block;
    margin-left: 200px;
}
.UploadImage1 {
    height: 200px;
    width: 200px;
    padding-top: 30px;
}
.FileBox1 {
    margin-left: 500px;
    color: rgb(57, 172, 253);
}
.InsertBar1 {
    padding-top: 0px;
    width: 400px;
}
.InsertBar1 #name1  {
    width: 400px;
}
.InsertBar1 #IDE1  {
    width: 400px;
}
.InsertBar1 #description1  {
    width: 400px;
}
.InsertBar1 #gitLink1  {
    width: 400px;
}
.InsertBar1 #tags1  {
    width: 400px;
}
.InsertBar1 #maintainers1  {
    width: 400px;
}

.UploadPictureAddon {
    margin-bottom: 100px;
}

.ProfileEditButton3 {
    font-family: 'Play', sans-serif;
    font-size: 1em;
    background-color: #5266c8;
    height: 50px;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
 
  }
  
  .ProfileEditButton3 {
    cursor: pointer;
  }
  
  .ProfileEditButton3 {

    margin:40px 0 200px 0px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(231, 140, 253);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .ProfileEditButton3:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .ProfileEditButton3:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./../../images/button-background.jpg");
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  
  .DescriptionInput1 {
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
  }



  .DescriptionInput1 #description1{
    display: block;
    width: 700px;
    height: 300px;
    border-radius: 5px;
    padding: 25px;
    font-size: 1.5em;
    text-align: left;

    font-family: 'Play', sans-serif;
}

.UploadButtonContainer {
  width: 100%;
  margin-left: -50px;

}

.UploadUpperPart {
  width: 100%;
  display:flex
}


.FileBox1 {
  display:block;
  margin-top: -30px;


}

.TagContainer {
  margin-top: 130px;
  margin-left: -20px;
  color: blue;
}
