#findAWay {
    width:100%;  
    height: 1000px;      

    background-position:center;
    background-repeat:no-repeat;
   }

#wellDone{
  
  padding: 0px;
  position: relative;

}

#here{
text-align: center;
color:rgb(219, 248, 251);
  position: absolute;
  top:60.2%;
  left:29%;
  transform:translate(-50%,-50%);
  cursor: default;
  
  font-family: 'Teko', sans-serif;
}